.home-title {
  font-size: 36px;
  font-weight: bold;
}

.home-title-gray {
  color: #aaaaaa;
}

.home-title-green {
  color: #5a8d26;
}

#revolution-up {
  width: 80%;
  z-index: 2;
  position: relative;
  margin-left: 14%;
}

#revolution-down {
  width: 60%;
  z-index: 1;
  position: absolute;
  left: 65px;
}

#connect-box {
  width: 75%;
  height: 100px;
  font-size: 18px;
  background-color: #f7f7f7;
  font-weight: bold;
}

.connect-gray {
  width: 20%;
}

.connect-green {
  width: 40%;
  color: #ffffff;
  background-color: #65b017;
}

#button-subscribe {
  color: #65b017;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 14px;
  padding: 4px 30px;
  font-weight: bold;
}

.news-up {
  width: 350px;
  height: 350px;
  z-index: 2;
  position: absolute;
}

#news-down {
  width: 370px;
  height: 360px;
  z-index: 1;
  position: absolute;
}

#news-block {
  height: 100%;
}

.subsidy-block,
.subsidy-image {
  width: 100%;
}

.subsidy-title {
  width: 100%;
  height: 50px;
  background-color: #65b017;
  color: #ffffff;
  font-weight: bold;
}

.bg-block,
.bg-img {
  position: relative;
}

.bg-title {
  position: absolute;
  color: #ffffff;
  z-index: 10;
  left: 10%;
  top: 15%;
  overflow: hidden;
  width: 40%;
}

#reborn {
  color: #ffffff;
  font-size: 32px;
  z-index: 10;
  overflow: hidden;
  margin-left: 25px;
  height: 80%;
}

#reborn-orange {
  background-color: #ed9b3b;
}

#reborn-green {
  background-color: #77ac39;
}

.title-big {
  font-size: 78px;
  font-weight: 600;
}

.title-medium {
  font-size: 46px;
  font-weight: 500;
}

.title-small {
  font-size: 50px;
  font-weight: 700;
}

.vertical {
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  display: block;
  width: 100px;
}

.navbar-nav a{
  text-decoration: inherit;
}
.navbar-nav a:focus{
  text-decoration: inherit;
  color: inherit;
  background-color:inherit;
} 

.icon_but {
  position: relative;
  border-radius: 50%;
  background-color: #f7f7f7;
  width: 150px;
  height: 150px;
}

#pills-topic-tab.active,.normal{
  font-size: 30px;
  color: #65b017 ;
  background-color: whitesmoke;
}

#pills-crowd-tab.normal {
  font-size: 30px;
  color: #ffffff;
  background-color: #65b017;
}
.icon_but:hover .mask{
  background-color: #65b017;
  content: attr(hint1);
  content: attr(hint2);
  content: attr(hint3);
  content: attr(hint4);
  opacity: 1;
  
}

.mask{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0px;
  left:0px;
  z-index: 1000;
  opacity: 0;
  background-color: #65b017;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  color:white;
  font-size: medium;
  font-weight: bold;
} 