body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

input,
button {
  border: none;
}

button:focus {
  outline: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.small-green-button {
  background: #65b017;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 14px;
}

.button-charm {
  padding: 6px 35px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 15px;
}

.big-block {
  padding-top: 20px;
  padding-bottom: 20px;
}


/* .green-button {
  cursor: pointer;
} */

/* h1 margin: 1em auto */
