body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
  text-decoration: inherit;
  display: inline-block;
}

a:hover {
  color: inherit;
  text-decoration: inherit;
}

input,
button {
  border: none;
}

button:focus {
  outline: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.small-green-button {
  background: #65b017;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 14px;
}

.button-charm {
  padding: 6px 35px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 15px;
}

.big-block {
  padding-top: 20px;
  padding-bottom: 20px;
}

.small-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #ffffff;
  font-weight: bold;
}
.circle {
  border-radius: 50%;
}

.relative {
  position: relative;
}

.gold-block {
  color: #6a5719;
  background: #e9e1c9;
  font-size: 32px;
}

.small-shadow {
  box-shadow: 1px 1px 2px gray;
}

.gray-box {
  background: #f7f7f7;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 22.5px 0 22.5px 39px;
  border-color: transparent transparent transparent #569a3f;
}

.green-block {
  width: 100%;
  height: 75px;
  background: #65b017;
  color: #ffffff;
  margin: 5px;
}

.end {
  margin-top: auto;
  margin-bottom: 20px;
}

.gray {
  color: #4a4a4a;
}

.green-button {
  background: #65b017;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  width: 10vw;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
}

.input-block {
  margin-bottom: 20px;
  margin-right: 15px;
}

.bold {
  font-weight: bold;
}

.gray-box {
  width: 85%;
  height: 180px;
  background: #f7f7f7;
  padding: 30px;
}

.gray-content {
  color: #5f5f5f;
}

.sidenav {
  height: 90vh; /* Full-height: remove this if you want "auto" height */
  width: 120px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 90px; /* Stay at the top */
  right: 0;
}

.green-sidebar {
  background-color: #65b017;
  padding-bottom: 30px;
  padding-top: 30px;
  border-radius: 60px;
}

.sidenav img {
  width: 25px;
}

/* The navigation menu links */
.sidenav a {
  padding: 3px 10px 3px 10px;
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #6b6b6b;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav a {
    font-size: 18px;
  }
}

.orange-circle {
  height: 100px; /* Full-height: remove this if you want "auto" height */
  width: 100px; /* Set the width of the sidebar */
  background-color: #fa990d;
  overflow-x: hidden;
  border-radius: 50%;
  margin-top: 10px;
}

.sidebar-item {
  margin-bottom: 5px;
}

.nav-bar {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
}

.nav-bar-logo {
  font-size: 25px;
}
.nav-bar-logo-en {
  font-size: 10px;
}

.nav-bar-green {
  width: 75%;
  height: 85%;
  background-color: #65b017;
  color: #ffffff;
  border-radius: 0px 0px 35px 35px;
}

.nav-bar-gray {
  color: #6b6b6b;
}

.navbar-dark {
  color: #707070;
}

.green-item {
  font-weight: 700;
  color: #236c0a;
}

.menu-expand {
  padding: 15px;
}

.green-buttons {
  background: #ffffff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.green-buttons-active {
  color: #ffffff;
  background: #65b017;
  border: none;
}

input[type="text"] {
  padding: 6px;
  border: none;
  margin-top: 10px;
  font-size: 14px;
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container div {
  color: #4a4a4a;
  margin-left: 15px;
}

.search-container label,
select {
  margin-bottom: 0px;
  margin-top: 8px;
}

#news .nav-item .active {
  background: #65b017 !important;
  color: #ffffff !important;
}

#news .nav-item .normal {
  color: #4a4a4a;
  background: #ffffff;
  width: "33%";
  font-size: 20px;
}

.page-active {
  color: #ffffff;
  background: #65b017;
}

.page-normal {
  color: #4a4a4a;
}

.w-70 {
  width: 70%;
}

.green-section {
  width: auto;
  max-width: 60%;
  height: auto;
  background-color: #65b017;
  color: #ffffff;
  border-radius: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

.green-section span {
  font-size: 18px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 4px solid #ffffff;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #eef8ea;
}

th {
  color: #282a3e;
  font-size: 18px;
  font-weight: bold;
}

td {
  color: #1c1c1c;
  font-size: 16px;
  font-weight: 500;
}

.table-tag {
  color: #ffffff;
  font-size: 14px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 50px;
  min-width: 40px;
  max-height: 25px;
}


/* h1 margin: 1em auto */
