body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

input,
button {
  border: none;
}

button:focus {
  outline: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.small-green-button {
  background: #65b017;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  border-radius: 14px;
}

.button-charm {
  padding: 6px 35px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 15px;
}

.big-block {
  padding-top: 30px;
  padding-bottom: 30px;
}

.small-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #ffffff;
  font-weight: bold;
}
.circle {
  border-radius: 50%;
}

.relative {
  position: relative;
}

.gold-block {
  color: #6a5719;
  background: #e9e1c9;
  font-size: 32px;
}

.small-shadow {
  box-shadow: 1px 1px 2px gray;
}

.gray-box {
  background: #f7f7f7;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 22.5px 0 22.5px 39px;
  border-color: transparent transparent transparent #569a3f;
}

.green-block {
  width: 100%;
  height: 75px;
  background: #65b017;
  color: #ffffff;
  margin: 5px;
}

.end {
  margin-top: auto;
  margin-bottom: 20px;
}

.gray {
  color: #4a4a4a;
}

.green-button {
  background: #65b017;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  width: 10vw;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
}

.input-block {
  margin-bottom: 20px;
  margin-right: 15px;
}

.bold {
  font-weight: bold;
}

.gray-box {
  width: 85%;
  height: 170px;
  background: #f7f7f7;
  padding: 40px;
}

.gray-content {
  color: #5f5f5f;
}

.sidenav {
  height: 90vh; /* Full-height: remove this if you want "auto" height */
  width: 110px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 90px; /* Stay at the top */
  right: 0;

}

.green-sidebar {
  background-color: #65b017;
  padding-bottom: 30px;
  padding-top: 30px;
  border-radius: 60px;
}

.sidenav img {
  width: 25px;
}

/* The navigation menu links */
.sidenav a {
  padding: 3px 12px 3px 12px;
  text-decoration: none;
  font-size: 12px;
  color: #ffffff;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #6b6b6b;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav a {
    font-size: 18px;
  }
}

.orange-circle {
  height: 90px; /* Full-height: remove this if you want "auto" height */
  width: 90px; /* Set the width of the sidebar */
  background-color: #fa990d;
  overflow-x: hidden;
  border-radius: 50%;
  margin-top: 10px;
}

.sidebar-item {
  margin-bottom: 5px;
}

.nav-bar {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
}

.nav-bar-logo {
  font-size: 25px;
}
.nav-bar-logo-en{
  font-size: 10px;
}

.nav-bar-green{
  width: 75%;
  height: 85%;
  background-color: #65B017;
  color: #FFFFFF;
  border-radius: 0px 0px 35px 35px;
}

.nav-bar-gray{
  color: #6B6B6B;
}

.navbar-dark{
  color: #707070;
}

.green-item{
  font-weight: 700;
  color: #236C0A;
}

.menu-expand{
  padding: 25px;
}
/* h1 margin: 1em auto */
